// Colors
$primary: #22ABF9;
$secondary: #FF6A3A;
$danger: #FF4F4F;
$unknown1: #929292;
$gray-e2: #E2E2E2;
$floatingLabelColor: #1976d2;

// Device
$deviceWidthMobileSmall: 320px; // Iphone 5,SE
$deviceWidthMobileMedium: 375px; // Iphone 6,7,8
$deviceWidthMobileBig: 414px; // Iphone 8 plus

$breakpointDesktop: 1024px;
$breakpointTablet: 769px;

// Components
$radius: 30px;
$wrapper-padding: rem(20px);
$mainMaxWidth: 696px;
$navMaxWidth: 1024px;
$navbarHeight: 4.0625rem;